
a {
    font-size: 14px;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.login-box {
    padding: 20px;
}

button {
	border-radius: 20px;
	border: 1px solid rgb(8, 117, 225);
	background-color: rgb(8, 117, 225);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor:pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}